<html>
    <head>
        <title>This Pervasive Day</title>
        
        <link type="text/css" href="css/smoothness/jquery-ui-1.8.6.custom.css" rel="Stylesheet"/>        
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/javascript/jquery.isotope.min.js"></script>
        <script type="text/javascript" src="/javascript/raphael-min.js"></script>
        <script type="text/javascript" src="/javascript/highcharts/highcharts.js"></script>
        
        <link rel="stylesheet" href="/css/thisPervasiveDay.css" type="text/css" media="screen" /> 

    </head>
    <body>

        <div id=layout_container>

            <div id="firstQuestion_chart_container" class="isotope_object pie_chart">
            </div>
            
            <div id="firstVideoQuestion_chart_container" class="isotope_object pie_chart">
            </div>

            <div id="thirdVideoQuestion_chart_container" class="isotope_object pie_chart">
            </div>   
                     
            <div id="fourthVideoQuestion_chart_container" class="isotope_object line_chart">
            </div>   
            
            <div id="fifthVideoQuestion_chart_container" class="isotope_object selected_phrases">
            </div>

            <div id="sixthVideoQuestion_chart_container" class="isotope_object pie_chart">
            </div>

                      
        </div>

    </body>
    
    
    <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){

        $('#layout_container').isotope({
            itemSelector : '.isotope_object',
            //itemSelector : '.element'
            
        });

        // load charts
        $.getScript('/charts/firstQuestion', function() {});
    
        $.getScript('/charts/firstVideoQuestion', function() {});
        
        $.getScript('/charts/thirdVideoQuestion', function() {});
       
        $.getScript('/charts/fourthVideoQuestion', function() {});
        
        $.getScript('/charts/fifthVideoQuestion', function() {});
        
        $.getScript('/charts/sixthVideoQuestion', function() {});
        
        
    });
   
   
   
         
    </script>
</html>
