<!-- http://www.blacktrash.org/flowplayer/graceful.html see source -->

<video id="the_video" class="video-js" autoplay width="720" height="576">
  <source src="idoc/video/<%= @video_filename %>.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
<!--  <source src="idoc/video/<%= @video_filename %>.webm" type='video/webm; codecs="vp8, vorbis"' /> -->
<!--  <source src="idoc/video/<%= @video_filename %>.ogv" type='video/ogg; codecs="theora, vorbis"' /> -->

  <!--<div id="flashfallback" class="flashcontainer"> -->

    <div id="player" class="vjs-flash-fallback" width="720" height="576"></div>

    
<!-- </div>-->
</video>

<script>

  flowplayer("player", "idoc/flowplayer/flowplayer-3.2.7.swf", {
    clip:  {
        url: "idoc/video/<%= @video_filename %>.mp4",
        scaling: 'orig',
        autoPlay: true,
        autoBuffering: true,
        onFinish: function() {
          hideFlashVideo();
          showQuestion();
        },
        onStart: function() {
          showFlashVideo();
        }

    }
    
});
</script>

