/**** Isotope styles ****/

/* required for containers to inherit vertical size from window */
html,
body {
  height: 100%;
  background-color: #000000;
  color: white;
  /*font-family:'Distro Mix';*/
  font-family:'Distro', Arial;
  font-size: 20pt;
}

﻿/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ @font-face {font-family:"Distro Mix";src:url("DISTROM_.eot?") format("eot"),url("/fonts/DISTROM_.woff") format("woff"),url("/fonts/DISTROM_.ttf") format("truetype"),url("/fonts/DISTROM_.svg#DistroMix") format("svg");font-weight:normal;font-style:normal;}

﻿/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ @font-face {font-family:"Distro";src:url("/fonts/DISTRO__.eot?") format("eot"),url("/fonts/DISTRO__.woff") format("woff"),url("/fonts/DISTRO__.ttf") format("truetype"),url("/fonts/DISTRO__.svg#Distro") format("svg");font-weight:normal;font-style:normal;}



.jqmWindow {
    font-size: 12pt;

    display: none;
    
    position: fixed;
    top: 10%;
    left: 50%;
    
    margin-left: -325px;
    width: 650px;
    height: 450px;
    
    /*background-color: #000;*/
    color: #333;
    border: 1px solid black;
    padding: 12px;
}

.jqmOverlay { background-color: #000; }

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

.draggable {
  width: 250px;
  height: 20px;
  padding: 0.3em 0em;
  margin: 0 5px 5px 0;
  text-align: center;
  left: 197px;
}

#securityQuestionDiv {
  background-color: #000;
}

#scenarioQuestionDiv {
  background-image:url('../graphics/appropriateOrNot.png');
}

.selectable_thing {
  width: 250px;
  padding: 0.5em 0.5em;
  margin: 0 5px 5px 0;
  text-align: center;
  margin: 0px auto;
}

.unselected {
  background: #555555;
  color: black;
}

.selected {
  background: #AAAAAA;
  color: white;
}

#video-js-box {
   margin: 0px auto;
}

.isotope_object {
  width: 320px;
  height: 300px;
  
  margin: 5px;
  float: left;
  overflow: hidden;
  position: relative;
  
}

.isotope_object.pie_chart { 
    background: #000;
    width: 380px;
    height: 380px;
    /*background: hsl(   0, 100%, 50%);*/
    color: #000;
}

.isotope_object.line_chart {
    width: 750px;
    height: 400px;
    background: #000;
    /*background: hsl(  36, 100%, 50%);*/
}

.isotope_object.selected_phrases {
    width: 800px;
    height: 600px;
    background: #000;
    
    /*background: hsl(  36, 100%, 50%);*/
}

.isotope_object * {
  position: absolute;
  margin: 0;
  font-family:'Distro';
  color: #000;
}

.isotope_object .symbol {
  left: 0.2em;
  top: 0.4em;
  font-size: 3.8em;
  line-height: 1.0em;
  color: #000;
}
.isotope_object.large .symbol {
  font-size: 4.5em;
}

.isotope_object.fake .symbol {
  color: #000;
}

.isotope_object .name {
  left: 0.5em;
  bottom: 1.6em;
  font-size: 1.05em;
}

.isotope_object .weight {
  font-size: 0.9em;
  left: 0.5em;
  bottom: 0.5em;
}

.isotope_object .number {
  font-size: 1.25em;
  font-weight: bold;
  color: hsla(0,0%,0%,.5);
  right: 0.5em;
  top: 0.5em;
}

.variable-sizes .isotope_object.width2 { width: 230px; }

.variable-sizes .isotope_object.height2 { height: 230px; }

.variable-sizes .isotope_object.width2.height2 {
  font-size: 2.0em;
}

.isotope_object.large,
.variable-sizes .isotope_object.large,
.variable-sizes .isotope_object.large.width2.height2 {
  font-size: 3.0em;
  width: 350px;
  height: 350px;
  z-index: 100;
}

.clickable .isotope_object:hover {
  cursor: pointer;
}

.clickable .isotope_object:hover h3 {
  text-shadow:
    0 0 10px white,
    0 0 10px white
  ;
}

.clickable .isotope_object:hover h2 {
  color: white;
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
/*     -o-transition-duration: 0.8s;*/
          transition-duration: 0.8s;

}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
/*     -o-transition-property: height, width;*/
          transition-property: height, width;
}

/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
       -o-transition: none;
          transition: none;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
/*     -o-transition-property:      -o-transform, opacity;*/
          transition-property:         transform, opacity;
}

.isotope.no-transition,
.isotope.no-transition .isotope-item {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
/*     -o-transition-duration: 0s;*/
          transition-duration: 0s;
}



/**************************
**  Infinite Scroll
**************************/


#infscr-loading {
  position: fixed;
  bottom: 30px;
  left: 42%;
  z-index: 100;
  background: white;
  background: hsla( 0, 0%, 100%, 0.9 );
  padding: 20px;
  color: #222;
  font-size: 15px;
  font-weight: bold;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}



/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child isotope_objects << j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
/* fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }
