<html>
    <head>
        <title>Pervasive PufferSphere</title>

        
        <link type="text/css" href="css/smoothness/jquery-ui-1.8.6.custom.css" rel="Stylesheet"/>        
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>

    </head>
    <body>
        <p id="queue_info">Queue Info</p>
        <p id="photo_info">Info</p>
        <p id="queue_length">Queue length</p>
        
    </body>
    
    
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            //alert("This Pervasive Day");
            
            $("#photo_info").text("The DOM is now loaded and can be manipulated.");
            
            events_queue = $({});
            
            setInterval( get_flickr_events, 10000 );
            get_flickr_events(); // start off with an immediate call
            setInterval( get_twitter_events, 5000 );
            
            
            
        });
    
        function get_flickr_events() {
            $.getJSON("/get_flickr_events", receive_flickr_events);
        }
        
        function get_twitter_events() {
            $.getJSON("/get_twitter_events", receive_twitter_events);
        }
        
        function receive_flickr_events(events_info) {
            var queue_needs_restarting = false;
            if(events_queue.queue("test_queue").length == 0) {
                //alert("Events queue is empty will restart processing the queue");
                $("#queue_info").text("Events queue is empty will restart processing the queue");
                queue_needs_restarting = true;
            }
            
            jQuery.each(events_info, add_event_to_queue);
            
            if(queue_needs_restarting == true) {
                events_queue.dequeue("test_queue");
            }
        }
        
        function receive_twitter_events(events_info) {
            var queue_needs_restarting = false;
            if(events_queue.queue("test_queue").length == 0) {
                //alert("Events queue is empty will restart processing the queue");
                $("#queue_info").text("Events queue is empty will restart processing the queue");
                queue_needs_restarting = true;
            }
            
            jQuery.each(events_info, add_event_to_queue);
            
            if(queue_needs_restarting == true) {
                events_queue.dequeue("test_queue");
            }
        }

        
        function add_event_to_queue(event_index, event_info) {
            // Must use an anonymous function here instead of passing process_event as the function to be queued            
            events_queue.queue("test_queue", function(next) {
                    process_event(event_info);
                    setTimeout(next, 1000); // by default for testing wait one second in beween processing events
                }
            );
        }
        
        function process_event(event_info) {
            //alert("Processing event" + event_info.location.longitude);
            //$("#photo_info").text(event_info.title + ", (" + event_info.location.latitude + ", " + event_info.location.longitude + "
            $("#photo_info").text("(" + event_info.location.latitude + ", " + event_info.location.longitude + ")");
            $("#queue_length").text(events_queue.queue("test_queue").length);
            
        }
        
    </script>
</html>

